<p>The best way to learn new languages</p>
<a href="/auth/spotify">Login with Spotify</a>
<% if(user){ %>
  <p class= "userId">Hello <%= user.id%></p>
<% }else{ %>
  <p>user disconected</p>
<% } %>
<a href="/logout">Logout</a>
