<div class="containerIndex">
  <p class="claim">The best way to learn new languages</p>
    <div class="blockquote">
      <blockquote class="quote-box">
        <p class="quotation-mark">
          “
        </p>
        <p class="quote-text">
          Lyr-it es una herramienta para encontrar las letras de tus canciones favoritas. Solo tienes que loguearte con Spotify y dejar que la magia suceda...
        </p>
      </blockquote>
    </div>
  <a href="/auth/spotify" class="buttonLog"><span>Log in with Spotify</span></a>
</div>
