<p class="claim">The best way to learn new languages</p>
<a href="/auth/spotify"class="buttonLog"><span>Log in with Spotify</span></a>
<!-- <img src="img/cassette.png" alt="Cassette" class="cassette"> -->
