<p>The best way to learn new languages</p>
<a href="/auth/spotify">Login with Spotify</a>
<% if (session.name) { %>
  <p class= "userId">Hello <%= session.name %></p>
<% if (typeof(song) !== 'undefinded') { %>
  <p><%= songs %></p>
<% } %>
<% } else { %>
  <p>user disconected</p>
<% } %>


<a href="/logout">Logout</a>
