<div class="lyrit__group">
  <div class="container">
    <div class= "row">
      <div class="col-12 col-md-6 offset-md-3">
          <div class="blockquote animated fadeInDownBig">
              <blockquote class="quote-box">
                <p class="quotation-mark">
                  “
                </p>
                <p class="quote-text">
                  Lyr-it es una herramienta para encontrar las letras de tus canciones favoritas. Solo tienes que loguearte con Spotify, darle al play en tu applicación, y dejar que la magia suceda...
                </p>
              </blockquote>
            </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="lyrit__btns text-center">
          <a href="/auth/spotify" class="lyrit__btn"> Log in with Spotify </a>
        </div>
      </div>
    </div>
  </div>
</div>