<!--<script type="text/javascript" src="javascripts/countries.js"></script>-->
<div class="row">
  <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
    <h2>Edit your Profile</h2>
  </div>
</div>
<form action="/profile" method="post">
  <div>
    <div class="form-row">
      <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <label for="userName">Username</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend2">@</span>
          </div>
          <input type="text" name="userName" class="form-control" id="userName" value="<%=user.name%>" aria-describedby="inputGroupPrepend2" required>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <label for="country">Country</label>
        <input type="text" name="country" class="form-control" id="country" value="<%=(user.country)%>" required>
      </div>
    </div>
    <div class="form-row">
      <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <label for="age">Age</label>
        <input type="number" name="age" class="form-control" id="age" value="<%=user.age%>">
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
    <a href="/lyrics">Go back to the lyrics</a>
  </div>
</form>
