body {
  background: #006666;
  font: 14px 'Roboto', sans-serif;
  color: pink;
  font-weight: 100px;
  text-align: center;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #006666;
}

a {
  color: #00B7FF;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

h1.title {
  font-family: 'Monoton', cursive;
  font-size: 8rem;
  color: pink;
  font-weight: 300;
  text-align: center;
  margin-bottom: inherit;
}

.claim {
  letter-spacing: 0.3rem;
}

pre {
  font: 14px 'Roboto', sans-serif;
  color: pink;
  font-weight: 100px;
  text-align: center;
  /* text-shadow: 0 0 3px #FF0000, 0 0 5px #006666; */
}

.userId {
  font-size: 50px;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #006666;
}

.contaier {
  text-align: center;
}

.titleSong {
  text-align: center;
}
.nameArtists {
  text-align: center;
  padding: 7px;
  letter-spacing: 0.3rem;
}

.lyrics {
  padding: 50px;
  display: inline-flex;
}

.lyricsTrans {
  display: inline-flex;
}

.logout {
  border-style: 2px groove;
  border-color: white;
}

.footer {
  letter-spacing: 0.2rem;
}
