.lyrit__content{
  background: #2C3E50;;
}

.lyrit__head,.lyrit__footer {
  background: #2C3E50;
  padding: 0 15px;
}
.lyrit__footer{
  padding:15px;
}

.lyrit__title {
  font-family: 'Monoton', cursive;
  font-size: 5rem;
  color: #FF5733;
  text-align: center;
}
.lyrit__txt{
  text-align: center;
  color:#B2BABB;
  font-family: 'Roboto', sans-serif;
}

.lyrit__txt--info{
  font-size: 18px;
  font-style: italic;
  padding: 30px 15px;
}
.lyrit__form{
  margin:15px 0 0;
}
.lyrit__group{
  background: #34495E;
  min-height: 29rem;
}
.lyrit__content--info{
  text-align: center;
  margin: 30px 0;
}
.lyrit__group--txt{
  display: block;
  vertical-align: middle;
  text-align: center;
}
.lyrit__link{
  text-decoration: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  margin: 30px 0 15px;
  width: auto;
  display: block;
}
.lyrit__btns{
  margin-top: 30px;
  text-align: center;
}
.lyrit__btn{
  color:#fff;
  padding:15px;
  margin-left: 15px;
  background: #FF5733;
  border-radius: 10px;
  border: 0;
  height: 2rem;
}
.lyrit__error{
  color: red;
  font-size: 16px;
  margin-top: 15px; 
}
.lyrit__form--btn{
  padding: 0 6px;
  height: 3rem;
  width: 60%;
}
.lyrit__btn:active, .lyrit__btn:hover{
  color: #fff;
  background: rgb(250, 54, 14);
  text-decoration: none;
}

.lyrit__btn:first-child{
  margin-left: 0;
}

.lyrit__img{
  vertical-align: middle;
  border-style: none;
  border-radius: 150px;
  border: 5px solid #FF5733;
  width: 50%;
}

.lyrit__subtitle{
  color:#B2BABB;
  width: auto;
}

.lyrit__footer{
  text-align: center;
  color: #fff;
  width: 100%;
}

.lyrit__footer--txt{
  margin:0;
}

@media (min-width: 768px){
  .lyrit__img{
    width: 100%;
  }
  .lyrit__group--txt{
    display: inline-block;
    vertical-align: middle;
    padding-left: 30px;
    text-align: left;
  }
  .lyrit__link{
    display: inline-block;
    margin: 0;
    width: 25%;
  }
  .lyrit__btns{
    text-align: left;
  }
  .lyrit__form--btn{
    width: 29%;
  }
}

@media (min-width: 1024px){
  .lyrit__link{
    width: 17%;
  }
  .lyrit__group{
    min-height: 42rem;
  }
  .lyrit__txt--info{
    font-size: 1.5rem;
  }
  .lyrit__form--btn{
    width: 18%;
  }
}

.quote-badge {
  background-color: #D64840;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}

.quote-box {
  margin-bottom: 3rem;
  overflow: hidden;
  border-radius: 17px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 25px;
  color: #FFFFFF;
  box-shadow: 2px 2px 2px 2px #FF5733;
  padding: 0 15px;
}

.quotation-mark {
  font-weight: bold;
  font-size: 100px;
  color: #FFFFFF;
}

.quote-text {
  font-size: 1rem;
  margin-top: -86px;
}